<section class="section-wrapper not-found-w">
  <div class="container">
    <div class="row">
      <div class="span4">
        <%= image_tag "not-found-error.png", alt: 'Not-found-error'%>
      </div>
      <div class="span8">
        <h1>Page not found</h1>
        <h4>Sorry the page you requested may have been moved or deleted.</h4>
        <p>Let's try one of the following remedies to get you back on track...</p>
      </div>
    </div>
  </div>
</section>